<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>次元小馆</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/static/index/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/index/css/style.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/static/index/css/login.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/index/css/detail.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/index/css/groay.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/index/css/order.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/index/css/shopcard.css"/>-->
    <!-- 引用bootstrap文件 -->
    <link rel="stylesheet" type="text/css" href="/static/index/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/index/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/static/index/js/modernizr.custom.js"></script>
    <script src="/static/index/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/Popper.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <style>
        body{
            position: relative;
        }
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>